<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">IL MIO ACCOUNT</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start My Account Area -->
<section class="my_account_area pt--80 pb--55 bg--white">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h4>@Html.ActionLink("Dati personali", "Data", "User")</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h4>@Html.ActionLink("Stato ordini", "Orders", "User")</h4>
            </div>
        </div>
    </div>
</section>
<!-- End My Account Area -->
